{%
  set classes = [
    padding ? padding,
    margin ? margin,
  ]
%}

{% set core_classes = [
    container ? container,
]
%}

<div{{attributes.addClass(classes)}}>
<div{{ create_attribute().addClass(core_classes) }}>
{{ header }}
{{ description }}
<div class="row flex-wrap">
  {{ content }}
</div>
</div>
</div>
